#routes_map {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.506);
	z-index: 1;
	border-bottom: 1px solid white;
	border-radius: 10px 10px 5px 5px;
	background: rgb(226, 226, 226);
	/*background: red;*/
}

#routes_wrapper {
	float: left;
	width: 100%;
	height: 100%;
	background: rgb(226, 226, 226);
	border-radius: 4px;
	/*background: green;*/
}

#map_canvas {
	margin-top: 7px;
	margin-left: 3px;
	width: 98.7%;
	height: 97.6%;
	border: 2px solid white;
	z-index: 4;
	border-radius: 5px 5px 10px 10px;
	background: rgb(226, 226, 226);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#routes_extra {
	margin-top: 7px;
	float: left;
	width: 31%;
	margin-left: -31%;
	background-image: linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -o-linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -moz-linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -webkit-linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -ms-linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, rgb(194
		, 194, 194) ), color-stop(0.68, rgb(245, 245, 245) ) );
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	height: 100%;
	overflow: hidden;
	border-radius: 4px 4px 4px 0;
	height: 97.6%;
}

#routes_arrow_div {
	margin-top: 7px;
	width: 3%;
	height: 97.6%;
	float: right;
	margin-right: 2px;
	cursor: pointer;
}

#routes_extra #routes_arrow_div img {
	margin-top: 250px;
}

#routes_panel { /*display: none;*/
	width: 375px;
	height: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	/*background: olive;*/
}

#containerv {
	margin: 0 auto;
	width: 98%;
}

#contentv {
	padding: 2px 0;
	width: 100%;
}

.link_name {
	background: #bbb;
	border: none;
	border-radius: 10px;
	width: 150px;
	height: 40px;
	color: #fff;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	cursor: pointer;
	font-family: Verdana;
font-size: 20px;
	font-weight: bold;
	margin-left: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
margin-top:10px;
}

.link_name p
{
	font-family: Verdana;
font-size: 20px;
	font-weight: bold;
}

/*
.view-source a:link,.view-source a:visited {
	background: #bbb;
	border: none;
	clear: both;
	color: #fff;

	font-size: 12px;
	font-weight: bold;
	height: 90px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	width: 150px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 30px;
	border-radius: 10px;
}*/

.view-source a:hover,.view-source a:active {
	background: #9d9d9d;
}

.mytext {
	text-align: justify;
	width: 89%;
	margin-left:5px;
}

.hide {
/*	border: 1px dotted #e7e7e7;*/
	font-size: 14px;
	width: 97%;
	overflow: auto;
	overflow-y: hidden;
	display: block;
	margin-left:5px;
	border-radius: 10px;
	padding-top: 10px;
}