/*****************************************Panel*******************************************************/
.slider2 {
	background: rgb(226, 226, 226);
	background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226,
		226, 226, 1) ), color-stop(50%, rgba(219, 219, 219, 1) ),
		color-stop(51%, rgba(209, 209, 209, 1) ),
		color-stop(100%, rgba(254, 254, 254, 1) ) );
	background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% );
	background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% );
	background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% );
	background: linear-gradient(top, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100%, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2',
		endColorstr='#fefefe', GradientType=0 );
	margin: 0px auto;
	padding: 0px;
	height: 96px;
	width: 99.8%;
	border-left: solid 1px rgb(255, 253, 253);
	border-right: solid 1px rgba(254, 254, 254, 1);
	border-bottom: solid 1px rgb(250, 250, 250);
	border-radius: 10px 10px 0px 0px;
	z-index: 15;
}

.transparent {
	background: rgb(226, 226, 226);
	background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226,
		226, 226, 1) ), color-stop(50%, rgba(219, 219, 219, 1) ),
		color-stop(51%, rgba(209, 209, 209, 1) ),
		color-stop(100%, rgba(254, 254, 254, 1) ) );
	background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% );
	background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% );
	background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% );
	background: linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2e2e2',
		endColorstr='#fefefe', GradientType=0 );
	border: solid 10px rgb(226, 226, 226);
	height: 92px;
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	border-radius: 10px 10px 0 0;
}

.menu_table {
	margin-top: 1px;
	width: 100%;
}

.loader_text {
	margin-left: 170px;
	margin-top: 200px;
}

#Apoint {
	background: url("../images/green.png");
	height: 16px;
	width: 16px;
	margin-top: 23px;
	margin-left: 15px;
}

#Bpoint {
	background: url("../images/blue.png");
	height: 16px;
	width: 16px;
	/*margin-top: -20x;*/
	margin-left: -18px;
}

#cross {
	background: url("../images/cross.png");
	height: 16px;
	width: 16px;
	margin-top: -23px;
	margin-left: 3px;
	cursor: pointer;
}

.refresh {
	background: url("../images/refresh.png");
	height: 24px;
	width: 24px;
	margin-top: -25px;
	margin-left: -3px;
	cursor: pointer;
}

#a_input_form {
	margin-bottom: 2px;
	margin-top: 25px;
	margin-left: 5px;
	width: 200px;
}

#b_input_form {
	margin-bottom: 5px;
	margin-left: 5px;
	margin-top: 2px;
	width: 200px;
	margin-left: -202px;
}

.mini_table-town_top {
	margin-top: 0px;
	position: absolute;
	margin-left: 40px;
	height: 18px;
	width: 100px;
	text-align: center;
	/*background: rgb(226, 226, 226);*/
	background: white;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.mini_table_town .mini_table_town_center .mini_table-town_top p {
	font: normal normal 400 11px/21px Arial;
}

.mini_table-route_top {
	margin-top: 0px;
	position: absolute;
	margin-left: 80px;
	height: 18px;
	width: 100px;
	text-align: center;
	/*background: rgb(226, 226, 226);*/
	background: white;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.mini_table-transp_top {
	margin-top: 0px;
	position: absolute;
	margin-left: 32px;
	height: 18px;
	width: 150px;
	text-align: center;
	background: white;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.mini_table_transp .mini_table_transp_center .mini_table_transp_temp {
	height: 20px;
}

.mini_table_transp .mini_table_transp_center .mini_table_transp_list {
	width: 200px;
	margin-left: 15px;
}

.mini_table_transp .mini_table_transp_center .mini_table_transp_list table
	{
	margin-top: 5px;
	margin-left: 3px;
	margin-right: 3px;
}

.mini_table_transp_list {
	width: 150px;
	margin-left: 15px;
	margin-top: 10px;
}

.mini_table_marsh_top {
	margin-top: -3px;
	position: absolute;
	margin-left: 662px;
	width: 80px;
	height: 18px;
}

.mini_table_transp_temp {
	height: 5px;
}

.mini_table_transp_list {
	width: 120px;
	height: 30px;
}

.mini_temp {
	height: 8px;
}

#textBlock {
	font-size: 100%;
	font-family: Verdana, sans-serif;
	color: #eff5ff;
	background-color: #484e58;
	width: 30%;
	margin: auto;
	position: absolute;
}

.transparent,.mini_table_town {
	border: solid 1px rgb(250, 250, 250);
}

.block-round-content {
	background-color: rgba(240, 220, 203, 0.1); /
	padding: 0px;
	/*margin-top: -18px;*/
	width: 100%;
}

.mini_table_town {
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1) ), color-stop(100%, rgba(229, 229, 229, 1) ) );
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(                   startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0 ); /* IE6-9 */
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 172px;
	height: 75px;
	margin-left: 5px;
	margin-top: -3px;
}

.mini_table_town_center {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	border-left: 2px solid white;
	width: 170px;
	height: 75px;
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mini_table_town_top {
	display: block;
	font: normal normal 400 13px/normal Arial;
	height: 8px;
	left: 0px;
	position: absolute;
	text-align: center;
	top: -10px;
	width: 150px;
}

.zagolovok_town {
	border-radius: 10px 10px 5px 5px;
	background-image: linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -o-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -moz-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -webkit-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -ms-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(235
		, 235, 235) ), color-stop(0.61, rgb(220, 224, 224) ),
		color-stop(0.81, rgb(201, 201, 201) ) );
	box-shadow: inset 0 0 2px;
	float: center;
}

.mini_table_route {
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1) ), color-stop(100%, rgba(229, 229, 229, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(                   startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0 ); /* IE6-9 */
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 270px;
	height: 75px;
	margin-top: -2px;
}

.mini_table_route_center {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	border-left: 2px solid white;
	width: 268px;
	height: 75px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	/*margin-top:9px;*/
}

.mini_table_route_top {
	display: block;
	font: normal normal 400 13px/normal Arial;
	height: 8px;
	left: 0px;
	position: absolute;
	text-align: center;
	top: -19px;
	width: 190px;
}

.zagolovok_route {
	border-radius: 10px 10px 5px 5px;
	background-image: linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -o-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -moz-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -webkit-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -ms-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(235
		, 235, 235) ), color-stop(0.61, rgb(220, 224, 224) ),
		color-stop(0.81, rgb(201, 201, 201) ) );
	box-shadow: inset 0 0 2px;
	float: center;
}

.mini_table_transp {
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1) ), color-stop(100%, rgba(229, 229, 229, 1) ) );
	/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(                   startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0 ); /* IE6-9 */
	height: 75px;
	width: 222px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: -3px;
}

.mini_table_transp_new {
	height: 87px;
	width: 320px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-top: -7px;
}

.mini_table_transp_center {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	border-left: 2px solid white;
	width: 220px;
	height: 75px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.mini_table_transp_top {
	display: block;
	font: normal normal 400 13px/normal Arial;
	height: 8px;
	left: 0px;
	position: absolute;
	text-align: center;
	margin-top: 0px;
	width: 120px;
	background: rgb(226, 226, 226);
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

input:focus {
	outline: none;
	border-color: rgba(255, 25, 33, .75);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 8px rgba(255, 25, 33, .5);
	-moz-box-shadow: 0 0 8px rgba(255, 25, 33, .5);
	-webkit-box-shadow: 0 0 8px rgba(255, 25, 33, .5);
}

input {
	border: 1px solid #aaa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, -moz-box-shadow linear .2s;
	-webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
}

.zagolovok_transp {
	border-radius: 10px 10px 5px 5px;
	background-image: linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -o-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -moz-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -webkit-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -ms-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(235
		, 235, 235) ), color-stop(0.61, rgb(220, 224, 224) ),
		color-stop(0.81, rgb(201, 201, 201) ) );
	box-shadow: inset 0 0 2px;
	float: center;
}

.mini_table_marsh {
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1) ), color-stop(100%, rgba(229, 229, 229, 1) ) );
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% );
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% );
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% );
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0 );
	width: 172px;
	height: 65px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.mini_table_marsh_center {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	border-left: 2px solid white;
	width: 170px;
	height: 65px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

.mini_table_marsh_top {
	display: block;
	font: normal normal 400 13px/normal Arial;
	height: 8px;
	left: 0px;
	position: absolute;
	text-align: center;
	width: 43px;
	margin-left: 300px;
}

.zagolovok_marsh {
	border-radius: 10px 10px 5px 5px;
	background-image: linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -o-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -moz-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -webkit-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -ms-linear-gradient(bottom, rgb(235, 235, 235) 21%,
		rgb(220, 224, 224) 61%, rgb(201, 201, 201) 81% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(235
		, 235, 235) ), color-stop(0.61, rgb(220, 224, 224) ),
		color-stop(0.81, rgb(201, 201, 201) ) );
	box-shadow: inset 0 0 2px;
	float: center;
}

.menu_options_table tr td.padding_right {
	padding: 0 20px 0 0;
	word-wrap: break-word;
	vertical-align: middle;
	width: 300px;
}

.mini_table_route .mini_table_route_center .mini_table-route_top p {
	font: normal normal 400 11px/21px Arial;
}

.mini_table_transp .mini_table_transp_center .mini_table-transp_top p {
	font: normal normal 400 11px/21px Arial;
	height: 18px;
}

/*********************************************CALCULATE********************************************/
.button {
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
	background: #a3a3a3;
	background: -webkit-gradient(linear, left top, left bottom, from(#f0f5fa),
		to(#a3a3a3) );
	background: -webkit-linear-gradient(top, #f0f5fa, #a3a3a3);
	background: -moz-linear-gradient(top, #f0f5fa, #a3a3a3);
	background: -ms-linear-gradient(top, #f0f5fa, #a3a3a3);
	background: -o-linear-gradient(top, #f0f5fa, #a3a3a3);
	padding: 10.5px 21px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
	-webkit-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	-moz-box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	box-shadow: rgba(0, 0, 0, 1) 0 1px 0;
	text-shadow: rgba(0, 0, 0, .4) 0 1px 0;
	color: #472647;
	font-size: 13px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
	width: 170px;
	display: inline;
	height: 40px;
	line-height: 10px;
	margin-left: 10px;
	text-align: center;
}

.button:hover {
	border-top-color: white;
	background-image: linear-gradient(bottom, rgb(48, 122, 179) 16%,
		rgb(0, 166, 255) 58%, rgb(37, 189, 245) 79% );
	background-image: -o-linear-gradient(bottom, rgb(48, 122, 179) 16%,
		rgb(0, 166, 255) 58%, rgb(37, 189, 245) 79% );
	background-image: -moz-linear-gradient(bottom, rgb(48, 122, 179) 16%,
		rgb(0, 166, 255) 58%, rgb(37, 189, 245) 79% );
	background-image: -webkit-linear-gradient(bottom, rgb(48, 122, 179) 16%,
		rgb(0, 166, 255) 58%, rgb(37, 189, 245) 79% );
	background-image: -ms-linear-gradient(bottom, rgb(48, 122, 179) 16%,
		rgb(0, 166, 255) 58%, rgb(37, 189, 245) 79% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(48,
		122, 179) ), color-stop(0.58, rgb(0, 166, 255) ),
		color-stop(0.79, rgb(37, 189, 245) ) );
	color: white;
	cursor: pointer;
}

.button:active {
	border-top-color: white;
	background-image: linear-gradient(bottom, rgb(33, 82, 120) 16%,
		rgb(38, 149, 204) 58%, rgb(37, 180, 232) 79% );
	background-image: -o-linear-gradient(bottom, rgb(33, 82, 120) 16%,
		rgb(38, 149, 204) 58%, rgb(37, 180, 232) 79% );
	background-image: -moz-linear-gradient(bottom, rgb(33, 82, 120) 16%,
		rgb(38, 149, 204) 58%, rgb(37, 180, 232) 79% );
	background-image: -webkit-linear-gradient(bottom, rgb(33, 82, 120) 16%,
		rgb(38, 149, 204) 58%, rgb(37, 180, 232) 79% );
	background-image: -ms-linear-gradient(bottom, rgb(33, 82, 120) 16%,
		rgb(38, 149, 204) 58%, rgb(37, 180, 232) 79% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.16, rgb(33,
		82, 120) ), color-stop(0.58, rgb(38, 149, 204) ),
		color-stop(0.79, rgb(37, 180, 232) ) );
}
/******************************стили вкладки города*************************************************************************/
.selectbox {
	vertical-align: middle;
	cursor: pointer;
	margin-top: 18px;
}

.selectbox .select {
	width: 100px;
	height: 30px;
	padding: 0 45px 0 10px;
	font: 14px/30px Arial, Tahoma, sans-serif;
	color: #333;
	text-shadow: 1px 1px #FFF;
	background: #f5f5f5
		url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC)
		repeat-x;
	border: 1px solid #ccc;
	border-bottom-color: #b3b3b3;
	border-radius: 4px;
	box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px
		rgba(0, 0, 0, 0.1);
	margin-left: 5px;
	margin-top: 10px;
}

.selectbox .select:hover {
	background-color: #E6E6E6;
	background-position: 0 -10px;
}

.selectbox .select:active {
	background: #f5f5f5;
	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.selectbox.focused .select {
	border: 1px solid #5794BF;
}

.selectbox .select .text {
	display: block;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.selectbox .trigger {
	position: absolute;
	top: 0;
	right: 0;
	width: 34px;
	height: 100%;
	border-left: 1px solid #CCC;
}

.selectbox .trigger .arrow {
	position: absolute;
	top: 14px;
	right: 12px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	width: 0;
	height: 0;
	overflow: hidden;
	opacity: 0.3;
	filter: alpha(opacity =   30);
}

.selectbox:hover .arrow {
	opacity: 1;
	filter: alpha(opacity =   100);
}

.selectbox ul.dropdown {
	top: 33px;
	width: 100%;
	margin: 0;
	padding: 4px 0;
	background: #FFF;
	border: 1px solid #C6CBD0;
	border-radius: 5px 5px 10px 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
	font: 14px/18px Arial, Tahoma, sans-serif;
	margin-top: 10px;
	z-index: 10;
}

.selectbox li {
	padding: 5px 10px 6px;
	color: #231F20;
}

.selectbox li:hover,.selectbox li.selected {
	background: #08C;
	color: #FFF;
	border-radius: 5px;
}

.selectbox li.disabled {
	color: #AAA;
}

.selectbox li.disabled:hover {
	background: none;
}
/**********************************************Map*******************************************************/
#map_canvas {
	width: 98.7%;
	height: 100%;
	border: 2px solid white;
	z-index: 4;
	border-radius: 0 0 0 10px;
}

#map_container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.506);
	z-index: 1;
	border-bottom: 1px solid white;
	border-radius: 10px 10px 5px 5px;
	background: rgb(226, 226, 226);
}

#content p {
	line-height: 1.4
}

.main_content {
	font: 12px/12px Arial, sans-serif;
	position: relative;
	text-align: left;
	white-space: nowrap;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	z-index: 2;
}

#wrapper {
	float: left;
	width: 100%;
	height: 100%;
}

#content {
	margin-left: 0px;
	height: 100%;
}

#navigation {
	float: left;
	width: 0px;
	margin-left: -100%;
	background: #B9CAFF;
	height: 100%;
}

#extra {
	float: left;
	width: 31%;
	margin-left: -31%;
	background-image: linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -o-linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -moz-linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -webkit-linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -ms-linear-gradient(bottom, rgb(194, 194, 194) 35%,
		rgb(245, 245, 245) 68% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.35, rgb(194
		, 194, 194) ), color-stop(0.68, rgb(245, 245, 245) ) );
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	height: 100%;
	overflow: hidden;
	border-radius: 0 0 4px 0;
}

#extra #arrow_div img {
	margin-top: 250px;
}

#ways_panel {
	display: none;
	width: 375px;
	height: 100%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	
}

#ways { /*overflow: hidden;*/
	height: 100%;
}

#routes_info {
	overflow: hidden;
	height: 100%;
}

#head_ways { /*height:5%;*/
	
}

#print {
	height: 25px;
	width: 25px;
	background: rgb(248, 248, 248);
	border-radius: 3px;
	margin-left: 300px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	float: right;
}

#print img {
	margin-top: 5px;
	margin-left: 5px;
	cursor: pointer;
}

#clipboard {
	height: 25px;
	width: 25px;
	background: rgb(248, 248, 248);
	border-radius: 3px;
	margin-left: 260px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#clipboard img {
	margin-top: -20px;
	margin-left: 5px;
	cursor: pointer;
}

#icons_menu {
	width: auto;
	height: 150px;
	margin-left: 20px;
	display: inline;
}

#cost_info {
	margin-top: 2px;
	margin-left: 20px;
	line-height: 15px;
	color: #353535;
	font-size: 12px;
}

#foot-ways { /*height:5%;*/
	
}

#result_numb {
	height: 70px;
	width: 350px;
	background-image: linear-gradient(bottom, rgb(28, 168, 255) 30%,
		rgb(95, 205, 245) 65%, rgb(120, 209, 250) 83% );
	background-image: -o-linear-gradient(bottom, rgb(28, 168, 255) 30%,
		rgb(95, 205, 245) 65%, rgb(120, 209, 250) 83% );
	background-image: -moz-linear-gradient(bottom, rgb(28, 168, 255) 30%,
		rgb(95, 205, 245) 65%, rgb(120, 209, 250) 83% );
	background-image: -webkit-linear-gradient(bottom, rgb(28, 168, 255) 30%,
		rgb(95, 205, 245) 65%, rgb(120, 209, 250) 83% );
	background-image: -ms-linear-gradient(bottom, rgb(28, 168, 255) 30%,
		rgb(95, 205, 245) 65%, rgb(120, 209, 250) 83% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.3, rgb(28,
		168, 255) ), color-stop(0.65, rgb(95, 205, 245) ),
		color-stop(0.83, rgb(120, 209, 250) ) );
	border-radius: 5px;
	margin-left: 6px;
	margin-top: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

#active_div {
	background: red;
}

#rout_numb {
	height: 35px;
	width: 300px;
	display: inline-block;
	margin-left: 10px;
}

#rout_info {
	height: 35px;
	width: 290px;
	margin-top: 5px;
	margin-left: 10px;
}

#res_text {
	width: 322px;
	margin-left: 10px;
}

#res_text p {
	line-height: 1.5;
}
/*
#numb {
	height: 38px;
	width: 38px;
	margin-left: 5px;
	margin-top: 0px;
	text-align: center;
	vertical-align: baseline;
	line-height: 35px;
	display: inline-block;
}*/

#im_title {
	display: inline-block;
	margin-left: 30px;
	margin-top: 5px;
}
/*
#numb a {
	color: white;
	font-size: 24px;
	font-weight: 900;
}
*/
.routes-res-text {
	width: 280px;
	margin-left: 10px;
}

.routes-res-text {
	line-height: 1.5;
}

#line_res {
	border-bottom: 4px dotted #148ab8;
	width: 323px;
	margin-left: 5px; */
	height: 4px;
	margin-bottom: 5px;
	margin-top: 5px;
}

#transp_type {
	height: 25px;
	line-height: 25px;
	display: inline-block;
	vertical-align: top;
}

#transp_type p {
	font-weight: 500;
}

.result_transp {
	font-weight: bold;
	margin: 0;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	vertical-align: top;
}

.result_transp_img {
	height: 25px;
	line-height: 25px;
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 2px;
}

#footer p {
	margin: 0;
	padding: 5px 10px
}

#footer {
	background: #333;
	color: #FFF
}

#footer {
	clear: left;
	width: 100%
}

#arrow_div {
	width: 3%;
	height: 100%;
	float: right;
	margin-right: 2px;
	cursor: pointer;
}
/*******************************************************************************/
.map_button {
	background: url("../images/arrow_left.png") 50% 50% no-repeat
		transparent;
	cursor: pointer;
	display: block;
	float: right;
	height: 505px;
	width: 15px;
}

.map_button_selected {
	background: url("../images/arrow_right.png") 50% 50% no-repeat
		transparent;
}

.temp {
	width: 100%;
	height: 100%;
	position: absolute;
	margin-left: 78px;
	background-image: linear-gradient(bottom, rgb(227, 227, 227) 27%,
		rgb(230, 230, 230) 65% );
	background-image: -o-linear-gradient(bottom, rgb(227, 227, 227) 27%,
		rgb(230, 230, 230) 65% );
	background-image: -moz-linear-gradient(bottom, rgb(227, 227, 227) 27%,
		rgb(230, 230, 230) 65% );
	background-image: -webkit-linear-gradient(bottom, rgb(227, 227, 227) 27%,
		rgb(230, 230, 230) 65% );
	background-image: -ms-linear-gradient(bottom, rgb(227, 227, 227) 27%,
		rgb(230, 230, 230) 65% );
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.27, rgb(227
		, 227, 227) ), color-stop(0.65, rgb(230, 230, 230) ) );
	-moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
/**********************************************TABS************************************************************/
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.selectTabs_first,.selectTabs_second {
	height: 85px;
	width: 330px;
	overflow: hidden;
}

.content p {
	padding-top: 5px;
	padding-left: 2px;
	margin-left: 2px;
	color: #666;
}

.content div {
	display: none;
}

.content .tab1 {
	display: block;
	margin-top: 23px;
	margin-left: 15px;
	position: absolute;
}

.content .tab2 {
	margin-top: 15px;
	margin-left: 15px;
	position: absolute;
}

.content .tab3 {
	margin-left: 10px;
	margin-top: 22px;
	position: absolute;
}
/*
.selectTabs_second .lineTabs li {
	display: inline-block;
	width: 85px;
	height: 18px;
	padding: 0 0 0 0;
	text-align: center;
	background: #E2E2E2;
	border-radius: 8px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
*/
.selectTabs_second ul {
	list-style: none;
	margin-left: 15px;
	margin-top: 5px;
}

.selectTabs_second .lineTabs {
	margin-left: 29px;
	width: 280px;
	position: absolute;
	margin-top: -5px;
}

.selectTabs_second .lineTabs a {
	color: black;
	font-size: 11;
	width: 100%;
	height: 100%;
	display: block;
}

.selectTabs_second .content .lineTabs li.first {
	display: inline-block;
	width: 85px;
	height: 18px;
	text-align: center;
	background: white;
	border-radius: 8px 0 0px 8px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.selectTabs_second .content .lineTabs li.second {
	display: inline-block;
	width: 85px;
	height: 18px;
	text-align: center;
	background: white;
	border-radius: 0px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.selectTabs_second .content .lineTabs li.third {
	display: inline-block;
	width: 85px;
	height: 18px;
	text-align: center;
	/*background: #E2E2E2;*/
	background: white;
	border-radius: 0px 8px 8px 0px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.selectTabs_second .lineTabs a.active {
	position: relative;
	color: #cc0000;
	font-weight: bold;
	font-size: 11;
	width: 100%;
	height: 100%;
	display: block;
}

.selectTabs_second .content {
	background: rgb(255, 255, 255);
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% );
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1) ), color-stop(100%, rgba(229, 229, 229, 1) ) );
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% );
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% );
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% );
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(229, 229, 229, 1) 100% );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#e5e5e5', GradientType=0 );
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	border-left: 2px solid white;
	width: 320px;
	height: 75px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-top: 8px;
}

/******************************************************************************************************/
.menu_options_table1 tr td {
	margin: 0;
	right: 5px;
	height: 18px;
	text-align: left;
}

.menu_options_table1 tr td label {
	font-size: 11px;
	line-height: 15px;
	float: left;
	padding-right: 30px;
	cursor: pointer;
}

.menu_options_table1 tr td input {
	margin: 0 10px;
	padding: 0;
	float: left;
}

.menu_options_table3 tr td {
	margin: 0;
	right: 5px;
	padding: 0;
	height: 10px;
	text-align: left;
}

.menu_options_table3 tr td label {
	font-size: 11px;
	line-height: 15px;
	float: left;
	padding-right: 35px;
	cursor: pointer;
}

.menu_options_table3 tr td input {
	margin: 0 10px;
	padding: 0;
	float: left;
}

.line {
	border-right: 2px solid #ccc;
	margin-right: 127px;
	padding-right: 5px;
}
/*******************************************************************************************************/
.menu_options_table tr td.padding_right {
	padding: 0 0 0 5px;
	cursor: pointer;
}

.menu_options_table1 tr td.padding_right {
	padding: 0 0 0 5px;
	cursor: pointer;
}

.menu_options_table3 tr td.padding_right {
	padding: 0 0 0 5px;
	cursor: pointer;
}

/***********************************Scrollbar***********************************************************/
.scrollbar_body {
	width: 375px;
}

.scrollbar_body .viewport {
	width: 365px;
	height: 97%;
	position: absolute;
	overflow: hidden;
}

.scrollbar_body .overview {
	width: 365px;
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	/*z-index: 1;*/
}

.scrollbar_body .scrollbar {
	position: relative;
	cursor: pointer;
	background-position: 0 0;
	float: right;
	width: 10px;
	top: 10px;
	bottom: 10px;
	height: 200px;
}

.scrollbar_body .track {
	width: 3px;
	border-radius: 4px;
	border: solid 1px #DDD;
	background: #EEE;
	background: -webkit-linear-gradient(left, #EEE, white);
	background: -moz-linear-gradient(left, #EEE, white);
	background: -o-linear-gradient(left, #EEE, white);
	cursor: pointer;
	position: relative;
	padding: 0 1px;
	bottom: 5px;
	height: 95%;
}

.scrollbar_body .thumb {
	border: solid 1px #70B6C4;
	background: #70B6C4;
	border-radius: 4px;
	background: -webkit-linear-gradient(left, #98CED8, #70B6C4);
	background: -moz-linear-gradient(left, #98CED8, #70B6C4);
	background: -o-linear-gradient(left, #98CED8, #70B6C4);
	cursor: pointer;
	height: 20px;
	width: 5px;
	margin-left: 4px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: -5px;
}

.scrollbar_body .thumb .end {
	cursor: pointer;
}

.scrollbar_body .disable {
	display: none;
	cursor: pointer;
}

.scrollbar_body .noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.scrollbar_body .thumb:hover {
	padding: 1px;
	display: block;
	border: solid 1px #919191;
	background: #70B6C4;
	background: -webkit-linear-gradient(left, #98CED8, #70B6C4);
	background: -moz-linear-gradient(left, #98CED8, #70B6C4);
	background: -o-linear-gradient(left, #98CED8, #70B6C4);
}

.scrollbar_body .track:hover {
	border: solid 1px #A3A3A3;
	cursor: pointer;
	padding: 2px;
}


/***********************Podskazki**************************************/
.tip-darkgray  {
	opacity:0.95;
	z-index:1000;
	text-align:left;
	text-shadow:#444 0 1px 1px;
	border:1px solid #888;
	padding:8px;
	min-width:50px;
	max-width:530px;
	color:#fff;
	background-color:#999;
	background-image:url("../images/tip-darkgray.png"); /* bgImageFrameSize >= 11 should work fine */
	/**
	 * - If you set a background-image, border/padding/background-color will be ingnored.
	 *   You can set any padding to .tip-inner instead if you need.
	 * - If you want a tiled background-image and border/padding for the tip,
	 *   set the background-image to .tip-inner instead.
	 */
}

.tip-darkgray .tip-inner {
	font:bold 12px/18px arial,helvetica,sans-serif;
	margin-top:-1px;
	padding:0 4px 3px 4px;
	color: white;
}

/* Configure an arrow image - the script will automatically position it on the correct side of the tip */
.tip-darkgray .tip-arrow-top {
	margin-top:-7px;
	margin-left:15px;
	top:0;
	left:0;
	width:16px;
	height:10px;
	background:url("../images/tip-darkgray_arrows.png") no-repeat;
}
.tip-darkgray .tip-arrow-right {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-7px;
	top:50%;
	left:100%;
	width:11px;
	height:21px;
	background:url("../images/tip-darkgray_arrows.png") no-repeat -22px 0;
}
.tip-darkgray .tip-arrow-bottom {
	margin-top:-7px;
	margin-left:15px;
	top:100%;
	left:0;
	width:22px;
	height:13px;
	background:url("../images/tip-darkgray_arrows.png") no-repeat -44px 0;
}
.tip-darkgray .tip-arrow-left {
	margin-top:-9px; /* approx. half the height to center it */
	margin-left:-6px;
	top:50%;
	left:0;
	width:11px;
	height:21px;
	background:url("../images/tip-darkgray_arrows.png") no-repeat -66px 0;
}