/*************************************Page_Template***************************************************************/
* {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

body {
	height: 100%;
	overflow-y: hidden;
	background: url("../images/main-back.jpg");
	height: 100%;
	font-family: Verdana, Arial, Tahoma;
}

html {
	height: 100%;
	font-family: Verdana, Arial, Tahoma;
	overflow-y: hidden;
	text-align: center;
}

.page_layout {
	position: relative;
	width: 1260px;
	height: 100%;
	display: inline-block;
	margin: 0;
}

.portal-headline {
	font: 12px/12px Arial, sans-serif;
	padding-top: 6px;
	text-align: left;
	white-space: nowrap;
	z-index: 5;
	width: 100%;
}

.main-wrap {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

.block_header {
	border: medium none currentColor;
	margin: 0px auto;
	padding: 0px;
	height: 25px;
	width: 100%;
}

/**********************************************Menu***********************************************************************/
a {
	cursor: pointer;
	font-family: "Verdana", "Arial", "Tahoma";
	font-size: 12px;
	text-decoration: none;
	display: inline;
}

.menu-temp ul.nav {
	display: inline-block;
	height: 35px;
	position: relative;
}

.menu-temp ul.nav li.active {
	background: #E2E2E2;
}

.menu-temp ul.nav li.active a {
	color: #597D84;
}

.menu-temp ul.nav a {
	color: white;
	padding-bottom: 10px;
	position: relative;
	padding: 4px 7px 0;
	font-size: .93em;
	font-weight: bold;
}

.menu-temp .nav a:hover { /*padding-top:-10px;*/
	
}

.menu-temp ul.nav li {
	float: left;
	height: 24px;
	margin-right: 1px;
	list-style-type: none;
	display: inline;
	border-top: 1px solid white;
	border-right: 1px solid white;
	border-left: 1px solid white;
	vertical-align: middle;
	line-height: 22px;
	border-radius: 4px 4px 0px 0px;
}

.menu-temp ul.nav li:hover {
	margin-top: -3px;
	cursor: pointer;
	height: 27px;
	background: rgba(255, 255, 255, 0.4);
}

.menu-temp { 
	width: 300px;
	height: 25px;
	margin-left: 102px;
	vertical-align: bottom;
	line-height: 35px;
	float: left;
}

.logo_menu {
	float: left;
	height: 25px;
	width: 100px;
	margin-top: -10px;
}

.icons_menu {
	float: right;
	width: 500px;
	height: 25px;
	display: inline-block;
}

.lang_panel {
	float: right;
	height: 50px;
	width: 200px;
	margin-top: -3px;
	margin-right: 30px;
	text-align: right;
}

.fb_panel {
	float:left;
	height: 25px;
	width:80px;	
	text-align: right;
	margin-left: 180px;
	cursor: pointer;
}
/***************************************Footer**************************************************************/
.footer {
	border: solid 1px rgb(226, 226, 226);
}

.footer { 
}

.footer p {
	font: 12px/normal Arial, Helvetica, sans-serif;
	color: rgb(190, 133, 18);
	font-size-adjust: none;
	font-stretch: normal;
}

.footer a {
	font: 12px/normal Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 5px;
	color: rgb(239, 239, 235);
	text-decoration: underline;
	font-size-adjust: none;
	font-stretch: normal;
}

.footer img {
	margin: 20px 5px;
	padding: 0px;
	float: left;
}


#container {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.506);
	z-index: 2;
	border-bottom: 1px solid white;
	border-radius: 10px 10px 5px 5px;
	background: rgb(226, 226, 226);
}

