body {
	background: rgb(226, 226, 226); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% ); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(226,
		226, 226, 1) ), color-stop(50%, rgba(219, 219, 219, 1) ),
		color-stop(51%, rgba(209, 209, 209, 1) ),
		color-stop(100%, rgba(254, 254, 254, 1) ) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% ); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% ); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% ); /* IE10+ */
	background: linear-gradient(top, rgba(226, 226, 226, 1) 0%,
		rgba(219, 219, 219, 1) 50%, rgba(209, 209, 209, 1) 51%,
		rgba(254, 254, 254, 1) 100% ); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(         startColorstr='#e2e2e2',
		endColorstr='#fefefe', GradientType=0 ); /* IE6-9 */
	height: auto !important;
	height: 100%;
	min-height: 100%;
	position: relative;
}
/************************************************************************************************************************/
/*****************************стиль главной страницы********************************************************************/
.main_page {
	background: black;
	margin: 0px auto;
	padding: 0px;
	width: 958px;
	/*min-width: 980px;*/
}

.main-wrap { /*height: auto !important;*/
	min-width: 100%;
	height: 100%;
	position: absolute;;
}

.layout {
	margin-left: auto;
	margin-right: auto;
	margin-top: 11px;
	max-width: 1280px;
	padding-bottom: 32px;
	padding-left: 12px;
	padding-right: 12px;
}

.layout {
	margin-top: 11px;
}

.layout {
	margin-top: 13px;
}

.layout {
	margin-top: 23px;
}

.layout__leftcol {
	float: left;
	position: relative;
	width: 24%;
}

.layout__content {
	margin-left: 24%;
	padding-left: 24px;
}

.layout__content {
	padding-left: 35px;
}

.layout__content {
	padding-left: 24px;
}

.layout__centercol {
	float: left;
	width: 100%;
}

.layout__centercol__wrap {
	margin-right: 324px;
}

.layout__centercol__wrap {
	margin-right: 335px;
}

.layout__centercol__wrap {
	margin-right: 324px;
}

.layout__rightcol {
	float: left;
	margin-left: -300px;
	width: 300px;
}

.layout__footer {
	bottom: 0;
	height: 29px;
	left: 0;
	min-width: 980px;
	position: absolute;
	width: 100%;
}

.clearfix:before,.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

/*************************************************************************************************************************/
/*стили правой колонки, в которой будет содержаться информация о найденных маршрутах**************************************/
.right_col {
	float: right;
	display: block;
	height: 590px;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	width: 369px;
}

/************************************************************************************************************************/
/*стили кнопок "стрелки" для выдвиг. карты*******************************************************************************/
.map_button {
	background: url("images/arrow_left.png") 50% 50% no-repeat transparent;
	cursor: pointer;
	display: block;
	float: right;
	height: 505px;
	width: 15px;
}

.map_button_selected {
	background: url("images/arrow_right.png") 50% 50% no-repeat transparent;
}