.droplink ul {
	padding: 0;
	margin: 0
}

.socialbutton {
	display: inline-block;
	color: #777777;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 0px;
	text-decoration: none;
	margin-top: 0px;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
}
/*кнопка при наведении*/
/*.socialbutton:hover {background-color:#dfdfdf}*/
/*активное состояние кнопки*/
.socialbutton:active {
	position: relative;
	top: 0px
}

.droplink li {
	display: block
}
/*Стиль элемента списка*/
.droplink li a {
	padding: 5px 12px 4px 34px;
	margin: 1px;
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 12px;
	background-repeat: no-repeat;
	background-position: 10px 3px
}
/*Стиль элемента при наведении*/
.droplink li a:hover {
	background-color: #999;
	border-radius: 5px;
}
/*Иконки*/
.facebook a {
	background-image: url("images/facebook.png")
}

.twitter a {
	background-image: url("images/twitter.png")
}

.vk a {
	background-image: url("images/vk.png")
}

.rss a {
	background-image: url("images/rss.png")
}

.gplus a {
	background-image: url("images/gplus.png")
}

/********************************************************/
a {
	cursor: pointer;
	font-family: Verdana, Arial, Tahoma;
	font-size: 12px;
	text-decoration: none;
}

.main_div {
	background: -moz-linear-gradient(center top, #3FB9E0, #1A7D9D) repeat
		scroll 0 0 transparent;
	margin: 0 auto;
	padding: 0;
	width: 1260px;
}

.header_div {
	background: url("images/header_right.png") no-repeat scroll right 2px
		transparent;
	height: 120px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.header_bg_logo_div {
	background: url("images/header_left.png") no-repeat scroll -40px -50px
		transparent;
	display: block;
	height: 120px;
	width: 100%;
}

.header_bg_border_div {
	background: url("images/header_top_bg.png") repeat-x scroll left top
		transparent;
	display: block;
	height: 117px;
	padding: 3px 0 0;
	position: relative;
	width: 100%;
}

.header_float_right_div {
	float: right;
	height: 113px;
	width: 1000px;
}

.logo_div {
	background: url("images/header_logo.png") no-repeat scroll center center
		transparent;
	height: 78px;
	left: 45px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 20px;
	width: 150px;
}

.logo_div span {
	cursor: pointer;
	display: block;
	height: 78px;
	text-indent: -9999em;
	width: 150px;
}

.content_div {
	margin: 0;
	padding: 0;
	width: 100%;
}

.footer_div {
	background: url("images/footer_bg.png") repeat-x scroll center center
		transparent;
	clear: both;
	height: 85px;
	margin: 0;
	padding: 0;
	width: 100%;
}

.content_left_div {
	height: 541px;
	margin: 0;
	min-width: 600px;
	padding: 0;
}

.content_right_div {
	float: right;
	height: 541px;
	left: 0;
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 385px;
}

.content_right_div_display {
	position: static;
	visibility: visible;
}

.map_details_button {
	background: url("images/arrow_left.png") no-repeat scroll center center
		transparent;
	cursor: pointer;
	display: block;
	float: right;
	height: 505px;
	width: 15px;
}

.map_details_button_selected {
	background: url("images/arrow_right.png") no-repeat scroll center center
		transparent;
}

.map_details_button:hover {
	
}

.loader_div {
	background: url("images/ajax_loader.gif") no-repeat scroll right center
		transparent;
	display: block;
	margin: 30px 0 0 80px;
	padding: 0 41px 0 0;
	width: 130px;
}

.loader_text {
	color: #FFFFFF;
	display: block;
	font-family: Verdana;
	font-size: 15px;
	height: 31px;
	line-height: 31px;
	padding: 0;
	text-align: right;
}

.map_div {
	height: inherit;
	margin: 0;
	padding: 0 15px 10px;
}

.map_div_padding {
	padding: 0 400px 10px 15px;
}

#map {
	border: 2px solid #FFFFFF;
	height: inherit;
}

.menu_bottom_div {
	float: left;
	margin: 23px 0 0;
}

.menu_bottom_div ul {
	list-style: none outside none;
	margin: 13px 0 0 25px;
	padding: 0;
}

.menu_bottom_div ul li {
	display: inline;
}

.menu_bottom_div ul li a {
	color: #FFFFFF;
	float: left;
	margin: 0 40px 0 0;
	padding: 0;
	text-decoration: none;
}

.follow_us_on_div {
	float: right;
	margin: 23px 0 0;
}

.follow_us_on_div ul {
	list-style: none outside none;
	margin: 7px 25px 0 0;
	padding: 0;
}

.follow_us_on_div ul li {
	display: inline;
}

.follow_us_on_div ul li a {
	float: left;
	height: 24px;
	margin: 0 8px 0 0;
	padding: 0;
	text-decoration: none;
	width: 24px;
}

.follow_us_on_div ul li a.facebook {
	background: url("images/facebook.jpg") no-repeat scroll center center
		transparent;
}

.follow_us_on_div ul li a.vkontakte {
	background: url("images/vkontakte.jpg") no-repeat scroll center center
		transparent;
}

.follow_us_on_div ul li a.twitter {
	background: url("images/twitter.jpg") no-repeat scroll center center
		transparent;
}

.follow_us_on_div ul li a.livejournal {
	background: url("images/livejournal.jpg") no-repeat scroll center center
		transparent;
}

.follow_us_on_div ul li a.rss {
	background: url("images/rss.jpg") no-repeat scroll center center
		transparent;
}

.login_div {
	float: right;
	height: 25px;
	margin: 0 13px 0 0;
	padding: 0;
}

.login_border {
	border-right: 1px dotted #FFFFFF;
}

.login_left_div {
	background: url("images/login_bg_left.png") no-repeat scroll center
		center transparent;
	float: left;
	height: 40px;
	width: 10px;
}

.login_center_div {
	background: url("images/login_bg.png") repeat-x scroll center center
		transparent;
	float: left;
	height: 40px;
}

.login_right_div {
	background: url("images/login_bg_right.png") no-repeat scroll center
		center transparent;
	float: left;
	height: 40px;
	width: 10px;
}

.login_center_div ul {
	list-style: none outside none;
	margin: 10px 0 0;
	padding: 0;
}

.login_center_div ul li {
	display: inline;
}

.login_center_div ul li a {
	color: #FFFFFF;
	float: left;
	font-family: Verdana;
	font-size: 9px;
	line-height: 12px;
	margin: 0;
	padding: 0 5px;
	text-decoration: none;
}

.login_user_div {
	color: white;
	float: left;
	font-size: 12px;
	padding: 8px 10px;
}

#logout {
	
}

.tabs_div {
	float: right;
	height: 30px;
	margin: 0;
	padding: 62px 0 0;
	width: 800px;
}

.tab_div {
	float: right;
	height: 30px;
	margin: 0;
	padding: 0 15px 0 0;
}

.tab_div.android_tab_div {
	position: relative;
}

.tab_div.android_tab_div div.tab_center_div {
	padding: 0 20px 0 0;
}

.tab_left_div {
	background: url("images/tab_bg_left.png") no-repeat scroll center center
		transparent;
	float: left;
	height: 30px;
	width: 6px;
}

.tab_center_div {
	background-color: #219FC8;
	float: left;
	height: 30px;
}

.tab_center_div a {
	color: #FFFFFF;
	display: block;
	font-family: Verdana;
	font-size: 10px;
	height: 100%;
	line-height: 30px;
	text-decoration: none;
	width: 100%;
}

div.short {
	text-align: center;
	width: 120px;
}

div.short a {
	line-height: 12px;
	padding: 4px 0 0;
}

.tab_right_div {
	background: url("images/tab_bg_right.png") no-repeat scroll center
		center transparent;
	float: left;
	height: 30px;
	width: 6px;
}

.selected div.tab_left_div {
	background: url("images/tab_bg_left_selected.png") no-repeat scroll
		center center transparent;
}

.selected div.tab_center_div {
	background-color: #FFFFFF;
}

.selected div.tab_center_div a {
	color: #4D4D4D;
}

.selected div.tab_right_div {
	background: url("images/tab_bg_right_selected.png") no-repeat scroll
		center center transparent;
}

.android_div {
	background: url("images/android.png") no-repeat scroll right top
		transparent;
	height: 37px;
	position: absolute;
	right: 15px;
	top: -7px;
	width: 24px;
}

.menu_div {
	background: url("images/menu_top_bg_right.png") no-repeat scroll right
		top transparent;
	display: block;
	height: 79px;
	margin: 0 15px 0 0;
	min-width: 985px;
	padding: 0 5px 15px 15px;
}

.menu_left_div {
	background: url("images/menu_top_bg_left.png") no-repeat scroll left
		center transparent;
	height: 79px;
}

.menu_center_div {
	background: url("images/menu_top_bg.png") repeat-x scroll center center
		transparent;
	height: 79px;
	margin: 0 0 0 4px;
	min-width: 981px;
	padding: 0;
}

.city_div {
	color: #676767;
	cursor: pointer;
	font-family: Verdana;
	font-size: 12px;
	line-height: 12px;
	margin: 24px 0 4px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

.city_arrow_a {
	background: url("images/city_arrow.png") no-repeat scroll right top
		transparent;
	bottom: 9px;
	display: inline-block;
	height: 8px;
	position: absolute;
	right: 0;
	width: 17px;
}

.menu_transport_buttons_div a {
	float: left;
	height: 32px;
	margin: 5px 5px 0 0;
	padding: 0;
	width: 32px;
}

#trol {
	background: url("images/trol.png") no-repeat scroll center center
		transparent;
}

#bus {
	background: url("images/bus.png") no-repeat scroll center center
		transparent;
}

#tram {
	background: url("images/tram.png") no-repeat scroll center center
		transparent;
}

#metro {
	background: url("images/metro.png") no-repeat scroll center center
		transparent;
}

#train {
	background: url("images/train.png") no-repeat scroll center center
		transparent;
}

#trol.selected {
	background: url("images/trol_selected.png") no-repeat scroll center
		center transparent;
}

#bus.selected {
	background: url("images/bus_selected.png") no-repeat scroll center
		center transparent;
}

#tram.selected {
	background: url("images/tram_selected.png") no-repeat scroll center
		center transparent;
}

#metro.selected {
	background: url("images/metro_selected.png") no-repeat scroll center
		center transparent;
}

#train.selected {
	background: url("images/train_selected.png") no-repeat scroll center
		center transparent;
}

.transport_selected_span {
	background: url("images/minus.png") no-repeat scroll right bottom
		transparent;
	display: block;
	height: 100%;
	width: 100%;
}

.selected span.transport_selected_span {
	background: url("images/plus.png") no-repeat scroll right bottom
		transparent;
	display: block;
	height: 100%;
	width: 100%;
}

.menu_options_table {
	margin: 0;
	padding: 0;
}

.menu_options_table tr td {
	height: 18px;
	margin: 0;
	padding: 0;
}

.menu_options_table tr td label {
	float: left;
	font-size: 11px;
	line-height: 15px;
}

.menu_options_table tr td input {
	float: left;
	margin: 0 0 0 5px;
	padding: 0;
}

.menu_options_table tr td.padding_right {
	padding: 0 20px 0 0;
}

.from_div,.to_div {
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	height: 21px;
	line-height: 19px;
	padding: 0 0 0 25px;
	text-align: right;
}

.from_div input,.to_div input {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 transparent;
	border-color: -moz-use-text-color -moz-use-text-color #666666;
	border-style: none none solid;
	border-width: medium medium 1px;
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
	height: 11px;
	line-height: 11px;
	width: 245px;
}

.from_div {
	color: #96C93F;
}

.from_div_ua {
	background: url("images/from_small_ua.png") no-repeat scroll left center
		transparent;
}

.from_div_en {
	background: url("images/from_small_en.png") no-repeat scroll left center
		transparent;
}

.from_div_ru {
	background: url("images/from_small_ru.png") no-repeat scroll left center
		transparent;
}

.to_div {
	color: #2A98D5;
}

.to_div_ua {
	background: url("images/to_small_ua.png") no-repeat scroll left center
		transparent;
}

.to_div_en {
	background: url("images/to_small_en.png") no-repeat scroll left center
		transparent;
}

.to_div_ru {
	background: url("images/to_small_ru.png") no-repeat scroll left center
		transparent;
}

.cities_list_div {
	background: none repeat scroll 0 0 #CECECE;
	border: 1px solid #999999;
	display: none;
	left: 0;
	position: absolute;
	top: 14px;
	z-index: 1;
}

.cities_list_div ul {
	margin: 0;
	padding: 0 0 5px;
}

.cities_list_div ul li {
	list-style: none outside none;
	margin: 0;
	padding: 5px 5px 0;
}

.cities_list_div ul li a {
	color: #676767;
	display: block;
	font-family: Verdana;
	font-size: 12px;
	height: 12px;
	line-height: 12px;
	margin: 0;
	padding: 3px;
	text-decoration: none;
	text-transform: uppercase;
}

.cities_list_div ul li a:hover {
	background: none repeat scroll 0 0 #676767;
	color: #CECECE;
}

.points_div {
	display: inline-block;
	margin: -3px 0 0;
	padding: 0;
}

.points_delete_div {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.points_delete_div a {
	background: url("images/delete.png") no-repeat scroll center center
		transparent;
	display: block;
	height: 18px;
	width: 18px;
}

.menu_header_content_span {
	background: url("images/menu_header_bg.png") repeat-x scroll center
		center transparent;
	color: #676767;
	display: inline-block;
	font-family: Verdana;
	font-size: 11px;
	height: 21px;
	line-height: 21px;
	margin: 0 4px;
	padding: 0;
}

.menu_header_left_span {
	background: url("images/menu_header_bg_left.png") no-repeat scroll left
		center transparent;
	display: inline-block;
	height: 21px;
}

.menu_header_right_span {
	background: url("images/menu_header_bg_right.png") no-repeat scroll
		right center transparent;
	display: inline-block;
	height: 21px;
}

.menu_header_container_div {
	left: 0;
	position: absolute;
	text-align: center;
	top: -9px;
	width: 100%;
}

.menu_block_div {
	float: left;
	margin: 0;
	padding: 15px 0 5px 5px;
}

.menu_block_left_div {
	background: url("images/menu_block_bg_left.png") no-repeat scroll center
		center transparent;
	float: left;
	height: 59px;
	width: 7px;
}

.menu_block_center_div {
	background: url("images/menu_block_bg.png") repeat-x scroll center
		center transparent;
	float: left;
	height: 59px;
	margin: 0;
	padding: 0 10px;
	position: relative;
}

.menu_block_right_div {
	background: url("images/menu_block_bg_right.png") no-repeat scroll
		center center transparent;
	float: left;
	height: 59px;
	width: 7px;
}

.menu_block_content_div {
	height: 35px;
	margin: 15px 0;
	max-width: 360px;
	min-width: 130px;
	padding: 0;
	position: relative;
}

.menu_block_arrow_change_points_container {
	background: url("images/menu_block_bg.png") repeat-x scroll center
		center transparent;
	float: left;
	height: 59px;
	margin: 0;
	padding: 0;
}

.menu_block_arrow_change_points {
	background: url("images/arrow_change_points.png") no-repeat scroll
		center center transparent;
	cursor: pointer;
	display: block;
	height: 59px;
	width: 8px;
}

.menu_go_button_div {
	float: left;
	margin: 11px 0;
	padding: 0;
}

.menu_go_button_left_a {
	background: url("images/menu_go_button_bg_left.png") no-repeat scroll
		left center transparent;
	display: inline-block;
	height: 37px;
}

.menu_go_button_right_span {
	background: url("images/menu_go_button_bg_right.png") no-repeat scroll
		right center transparent;
	display: inline-block;
	height: 37px;
}

.menu_go_button_content_span {
	background: url("images/menu_go_button_bg.png") repeat-x scroll center
		center transparent;
	color: #676767;
	display: inline-block;
	font-family: Verdana;
	font-size: 10px;
	height: 37px;
	line-height: 37px;
	margin: 0 32px 0 6px;
	padding: 0 4px 0 0;
}

.results_div {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 15px;
	height: inherit;
	margin: 0;
	position: relative;
	width: inherit;
}

.results_div div.box {
	
}

.result_div {
	background: url("images/result_bg.png") no-repeat scroll 7px center
		transparent;
	display: block;
	height: 89px;
	margin: 0;
	padding: 0;
	position: relative;
	width: 370px;
}

.result_num_left_span {
	background: url("images/result_num_bg_left.png") no-repeat scroll left
		top transparent;
	display: inline-block;
	height: 42px;
	left: 12px;
	position: absolute;
	top: -2px;
}

.result_num_right_span {
	background: url("images/result_num_bg_right.png") no-repeat scroll right
		top transparent;
	display: inline-block;
	height: 42px;
}

.result_num_span {
	background: url("images/result_num_bg.png") repeat-x scroll center
		center transparent;
	color: #FFFFFF;
	display: inline-block;
	font-family: Verdana;
	font-size: 25px;
	font-weight: bold;
	height: 42px;
	line-height: 32px;
	margin: 0 12px;
}

.selected span.result_num_left_span {
	background: url("images/result_num_bg_left_selected.png") no-repeat
		scroll left top transparent;
}

.selected span.result_num_right_span {
	background: url("images/result_num_bg_right_selected.png") no-repeat
		scroll right top transparent;
}

.selected span.result_num_span {
	background: url("images/result_num_bg_selected.png") repeat-x scroll
		center center transparent;
}

.result_transport_span {
	color: #434B4D;
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
	left: 75px;
	position: absolute;
	top: 10px;
}

.result_bus {
	background: url("images/bus_small.png") no-repeat scroll left top
		transparent;
	display: inline-block;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0 5px 0 0;
	padding: 0 0 0 30px;
}

.result_trol {
	background: url("images/trol_small.png") no-repeat scroll left top
		transparent;
	display: inline-block;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0 5px 0 0;
	padding: 0 0 0 30px;
}

.result_tram {
	background: url("images/tram_small.png") no-repeat scroll left top
		transparent;
	display: inline-block;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0 5px 0 0;
	padding: 0 0 0 30px;
}

.result_metro {
	background: url("images/metro_small.png") no-repeat scroll left top
		transparent;
	display: inline-block;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0;
	padding: 0 0 0 30px;
}

.result_train {
	background: url("images/train_small.png") no-repeat scroll left top
		transparent;
	display: inline-block;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	margin: 0;
	padding: 0 0 0 25px;
}

.result_transfer {
	background: url("images/transfer.png") no-repeat scroll center center
		transparent;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	margin: 0 5px 0 0;
	padding: 0;
	width: 16px;
}

.result_info_div {
	color: #434B4D;
	font-family: Arial;
	font-size: 12px;
	left: 15px;
	position: absolute;
	top: 37px;
}

.result_details_div {
	color: #FFFFFF;
	font-family: Arial, Verdana;
	font-size: 12px;
	margin: 0;
	padding: 10px 0 10px 10px;
}

.result_details_div hr {
	background: url("images/result_hr_bg.png") repeat-x scroll center center
		transparent;
	border: medium none;
	height: 4px;
}

span.result_transport_span span.result_metro {
	padding: 0;
	width: 25px;
}

.banner_div {
	background: url("images/banner.png") no-repeat scroll center center
		transparent;
	height: 88px;
	margin: 0 auto;
	padding: 0;
	width: 352px;
}

.banner_div a {
	border: medium none;
	color: #FFFFFF;
	display: block;
	font-family: Verdana;
	font-size: 18px;
	height: 88px;
	line-height: 88px;
	margin: 0;
	padding: 0 0 0 80px;
	text-decoration: none;
	width: 272px;
}

.ui-autocomplete {
	background: none repeat scroll 0 0 #CECECE;
	border: 1px solid #999999;
	margin: 0;
	padding: 0 0 5px;
	width: 400px;
}

.ui-autocomplete li {
	list-style: none outside none;
	margin: 0;
	padding: 5px 5px 0;
}

.ui-autocomplete li a {
	color: #676767;
	display: block;
	font-family: Verdana;
	font-size: 12px;
	line-height: 12px;
	margin: 0;
	padding: 3px;
	text-decoration: none;
}

.ui-autocomplete li a:hover,.ui-autocomplete li a.ui-state-hover {
	background: none repeat scroll 0 0 #676767;
	color: #CECECE;
}

.context_menu {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #CDCDCD #6B6B6B #6B6B6B #CDCDCD;
	border-style: solid;
	border-width: 1px 2px 2px 1px;
	color: #888784;
	position: relative;
	visibility: hidden;
	width: 200px;
	z-index: 10;
}

.context_menu ul {
	margin: 0;
	padding: 0;
}

.context_menu ul li {
	list-style: none outside none;
	margin: 0;
	padding: 0;
}

.context_menu ul li a {
	display: block;
	font-family: Verdana;
	font-size: 10px;
	height: 21px;
	line-height: 20px;
	margin: 0;
	padding: 5px 0 5px 30px;
	width: 170px;
}

.context_menu ul li a.href_a {
	background: url("images/link_icon_small.png") no-repeat scroll 5px 5px
		transparent;
}

.context_menu ul li a.from_ua {
	background: url("images/from_small_ua.png") no-repeat scroll 5px 5px
		transparent;
}

.context_menu ul li a.to_ua {
	background: url("images/to_small_ua.png") no-repeat scroll 5px 5px
		transparent;
}

.context_menu ul li a.from_en {
	background: url("images/from_small_en.png") no-repeat scroll 5px 5px
		transparent;
}

.context_menu ul li a.to_en {
	background: url("images/to_small_en.png") no-repeat scroll 5px 5px
		transparent;
}

.context_menu ul li a.from_ru {
	background: url("images/from_small_ru.png") no-repeat scroll 5px 5px
		transparent;
}

.context_menu ul li a.to_ru {
	background: url("images/to_small_ru.png") no-repeat scroll 5px 5px
		transparent;
}

.context_menu ul li:hover {
	background: none repeat scroll 0 0 #D6E9F8;
}

.tooltip_div {
	left: 0;
	position: absolute;
	top: 0;
}

.tooltip_left_div {
	background: url("images/tooltip_bg_left.png") no-repeat scroll left top
		transparent;
	height: 54px;
	margin: 0;
	padding: 0 0 0 35px;
}

.tooltip_right_div {
	background: url("images/tooltip_bg_right.png") no-repeat scroll right
		center transparent;
	height: 54px;
	margin: 0;
	padding: 0 11px 0 0;
}

.tooltip_center_div {
	background: url("images/tooltip_bg.png") repeat-x scroll center top
		transparent;
	height: 54px;
	margin: 0;
	padding: 0 5px 0 0;
}

.tooltip_center_div span.result_trol,.tooltip_center_div span.result_tram,.tooltip_center_div span.result_metro,.tooltip_center_div span.result_bus,.tooltip_center_div span.result_train
	{
	font-size: 12px;
	font-weight: normal;
	margin: 8px 0 0 -23px;
}

.tooltip_border_outer {
	border-bottom: 1px solid #FFFFFF;
	padding: 0 0 1px;
}

.tooltip_border_inner {
	border-bottom: 1px solid #4D4D4D;
}

.tooltip_stop_border_inner {
	border-bottom: 1px solid #4D4D4D;
	line-height: 45px;
	margin: 0 0 0 -20px;
}

.tooltip_stop_div {
	position: relative;
}

.tooltip_stop_content_div {
	color: #434B4D;
	display: block;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	height: 49px;
	left: 0;
	margin: 0;
	padding: 10px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 153px;
}

.tooltip_stop_content_div input {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 transparent;
	border-color: -moz-use-text-color -moz-use-text-color #4D4D4D;
	border-style: none none solid;
	border-width: medium medium 1px;
	color: #434B4D;
	font-family: Verdana;
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	margin: 3px 0 0;
	width: 150px;
}

.tooltip_stop_div table,.tooltip_stop_div table tr,.tooltip_stop_div table tr td
	{
	margin: 0;
	padding: 0;
}

.tooltip_stop_left {
	background: url("images/stop_tooltip_bg_left.png") no-repeat scroll left
		top transparent;
	display: block;
	height: 79px;
	margin: 0;
	padding: 0;
	width: 10px;
}

.tooltip_stop_center {
	background: url("images/stop_tooltip_bg_center.png") no-repeat scroll
		left top transparent;
	display: block;
	height: 79px;
	margin: 0;
	padding: 0;
	width: 16px;
}

.tooltip_stop_stretch {
	background: url("images/stop_tooltip_bg.png") repeat-x scroll left top
		transparent;
	display: block;
	height: 79px;
	margin: 0;
	padding: 0;
	width: 70px;
}

.tooltip_stop_right {
	background: url("images/stop_tooltip_bg_right.png") no-repeat scroll
		left top transparent;
	display: block;
	height: 79px;
	margin: 0;
	padding: 0;
	width: 10px;
}

.tooltip_stop_buttons_div {
	margin: 5px 0 0;
}

.tooltip_stop_delete {
	background: url("images/red_cross.png") no-repeat scroll right center
		transparent;
	color: #C1272D;
	font-family: Verdana;
	font-size: 8px;
	font-weight: bold;
	margin: 0 15px 0 0;
	padding: 0 10px 0 0;
}

.tooltip_stop_save {
	color: #659A3C;
	font-family: Verdana;
	font-size: 8px;
	font-weight: bold;
	margin: 0 0 0 15px;
	padding: 0;
}

.tip_div {
	display: block;
}

.tip_top_div {
	background: url("images/tip_bg_top.png") no-repeat scroll left top
		transparent;
	display: block;
	height: 4px;
	width: 190px;
}

.tip_center_div {
	background: url("images/tip_bg_center.png") repeat-y scroll left top
		transparent;
	width: 190px;
}

.tip_bottom_div {
	background: url("images/tip_bg_bottom.png") no-repeat scroll left top
		transparent;
	display: block;
	height: 15px;
	width: 190px;
}

.tip_text_span {
	color: #FFFFFF;
	display: block;
	font-family: Verdana;
	font-size: 12px;
	line-height: 14px;
	padding: 2px 10px;
	text-align: center;
}

.feedback_left_div {
	background: url("images/feedback_bg_left.png") no-repeat scroll left
		center transparent;
	height: 250px;
	padding: 0 0 0 25px;
}

.feedback_right_div {
	background: url("images/feedback_bg_right.png") no-repeat scroll right
		center transparent;
	height: 250px;
	padding: 0 25px 0 0;
}

.feedback_center_div {
	background: url("images/feedback_bg.png") repeat-x scroll center top
		transparent;
	color: #4D4D4D;
	display: block;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	height: 250px;
	padding: 30px 0 0 10px;
	width: 450px;
}

.feedback_center_div table {
	width: 97%;
}

.feedback_center_div input {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: none repeat scroll 0 0 transparent;
	border-color: -moz-use-text-color -moz-use-text-color #4D4D4D;
	border-style: none none solid;
	border-width: medium medium 1px;
	color: #4D4D4D;
	font-family: Verdana;
	font-size: 12px;
	font-weight: normal;
	min-width: 150px;
}

.feedback_center_div input.margin_right {
	margin-right: 15px;
}

.feedback_center_div textarea {
	border: 1px solid #4D4D4D;
	height: 50px;
	width: 100%;
}

.feedback_center_div table tr td.buttons {
	padding: 0 0 0 75px;
}
/*a.button {
    background: url("images/error_button_bg.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    float: left;
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    height: 41px;
    line-height: 41px;
    margin: 0 10px 0 0;
    text-align: center;
    width: 139px;
}
a.button_link {
    background: url("images/link_button_bg.png") no-repeat scroll center center transparent;
    color: #FFFFFF;
    float: left;
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
    height: 41px;
    line-height: 41px;
    margin: 10px 0 0;
    text-align: center;
    width: 300px;
}*/
#darkbg {
	background: none repeat scroll 0 0 #000000;
	display: none;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}

#login_box {
	display: none;
	left: 50%;
	margin-left: -225px;
	position: fixed;
	top: 150px;
	z-index: 1000;
}

#reg_box {
	display: none;
	left: 50%;
	margin-left: -225px;
	position: fixed;
	top: 150px;
	z-index: 1000;
}

.display {
	display: block;
}

.grey_text {
	color: #AAAAAA !important;
}

.vk_like_container {
	float: left;
	margin: 31px 0 0;
}

.fb_like_container {
	float: left;
	margin: 32px 0 0;
}

.copy_div {
	color: #FFFFFF;
	float: left;
	font-size: 10px;
	margin: -20px 0 0 20px;
}

.langs_ul li a img {
	border: medium none;
}

.menu_table {
	margin: 0;
	padding: 0;
	width: 100%;
}

.menu_table tr td {
	margin: 0;
	padding: 0;
}

.result_copy_link {
	background: url("images/link_icon.png") no-repeat scroll center center
		transparent;
	display: block;
	height: 23px;
	position: absolute;
	right: 5px;
	top: 10px;
	width: 29px;
}

.result_print_way {
	background: url("images/print.png") no-repeat scroll center center
		transparent;
	display: none;
	height: 13px;
	position: absolute;
	right: 12px;
	top: 54px;
	width: 13px;
}

.box {
	display: none;
}

.box.visible {
	display: block;
}

#right_block ul.tabs {
	border-bottom: 3px solid #E6E6E6;
	list-style: none outside none;
	margin: 0;
	padding: 0 15px 0 0;
	text-align: right;
}

#right_block ul.tabs li {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: -moz-linear-gradient(center top, #2399BF, #1A708C) repeat
		scroll 0 0 transparent;
	border-color: #2AB6E3 #2AB6E3 -moz-use-text-color;
	border-style: solid solid none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-width: 1px 1px medium;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	height: 32px;
	line-height: 32px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-shadow: 1px 1px 1px #4D4D4D;
	width: 140px;
}

#right_block ul.tabs li.current {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6) repeat
		scroll 0 0 transparent;
	border-color: #F7F7F7 #F7F7F7 -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	color: #4D4D4D;
	text-shadow: none;
}

.results_tab_save_buttons_div {
	height: 30px;
	margin: -15px 10px 10px 0;
}

.results_tab_save_buttons_div div {
	background: -moz-linear-gradient(center top, #FFFFFF, #E6E6E6) repeat
		scroll 0 0 transparent;
	border: 1px solid #2AB6E3;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	float: right;
	height: 23px;
	margin: 2px 3px 0 0;
	width: 23px;
}

.results_tab_save_buttons_div div.link {
	background: url("images/link_icon.png") no-repeat scroll center center
		transparent;
	border: medium none;
	height: 25px;
	width: 25px;
}

.results_tab_save_buttons_div div.link_vk {
	background: url("http://vk.com/images/vk16.png") no-repeat scroll center
		center transparent;
	border: medium none;
	height: 23px;
	margin: 0;
	padding: 0;
	width: 23px;
}

#results {
	height: 545px;
	overflow-x: hidden;
	overflow-y: auto;
}

#yandex_links {
	width: 73px;
}

#yandex_links a.b-share__handle {
	padding: 3px 3px 0 !important;
}

.info_block_div {
	border-radius: 5px 5px 5px 5px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	margin: 0 0 10px;
	padding: 20px;
	position: relative;
	text-align: center;
}

.info_block_div div.close {
	background: url("images/banner_mobile_close.png") no-repeat scroll left
		top transparent;
	cursor: pointer;
	display: block;
	height: 14px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 14px;
}

.info_block_div div.text {
	color: #3F3E3E;
}

.info_block_div.question {
	background: none repeat scroll 0 0 #CEDBFF;
	border: 1px solid #389AFD;
}

.info_block_div.question div.header {
	color: #3399FF;
	margin: 0;
	padding: 0;
}

.info_block_div.error {
	background: none repeat scroll 0 0 #FDE7E3;
	border: 1px solid #FD3838;
}

.info_block_div.error div.header {
	color: #FF0000;
	margin: 0;
	padding: 0;
}

.info_block_div.success {
	background: none repeat scroll 0 0 #EBFFE2;
	border: 1px solid #38FD4C;
}

.info_block_div.success div.header {
	color: #33CC33;
	margin: 0;
	padding: 0;
}

.banner_mobile_div {
	display: block;
	height: 150px;
	overflow: visible;
	position: relative;
	width: 354px;
}

.banner_mobile_div div.bg {
	background: url("images/banner_mobile_bg.png") no-repeat scroll left top
		transparent;
	display: block;
	height: 167px;
	left: 0;
	position: absolute;
	top: 0;
	width: 354px;
}

.banner_mobile_div div.text {
	color: #333333;
	cursor: pointer;
	display: block;
	font-family: Verdana;
	font-size: 12px;
	left: 100px;
	position: absolute;
	top: 50px;
	width: 240px;
}

.banner_mobile_div div.phone {
	cursor: pointer;
	display: block;
	height: 154px;
	left: 18px;
	position: absolute;
	top: 12px;
	width: 69px;
}

.banner_mobile_div div.text b {
	color: #006F94;
	font-size: 18px;
}

.banner_mobile_div div.close {
	background: url("images/banner_mobile_close.png") no-repeat scroll left
		top transparent;
	cursor: pointer;
	display: block;
	height: 14px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 14px;
}

.print {
	background: url("images/print.png") no-repeat scroll center center
		transparent;
	float: right;
	height: 25px;
	margin: 0;
	padding: 0;
	width: 24px;
}

.banners {
	margin: 0;
	padding: 15px 0 0 15px;
}

.partners {
	color: #FFFFFF;
	margin: 0;
	padding: 15px 0 0 15px;
	text-transform: uppercase;
}