.main-wrap {
    height: auto !important;
    min-width: 980px;
    position: relative;

}
.layout {
    margin-left: auto;
    margin-right: auto;
    margin-top: 11px;
    max-width: 1280px;
    padding-bottom: 32px;
    padding-left: 12px;
    padding-right: 12px;
}
.layout {
    margin-top: 11px;
}
.layout {
    margin-top: 13px;
}
.layout {
    margin-top: 23px;
}
.layout__leftcol {
    float: left;
    position: relative;
    width: 24%;
}
.layout__content {
    margin-left: 24%;
    padding-left: 24px;
}
.layout__content {
    padding-left: 35px;
}
.layout__content {
    padding-left: 24px;
}
.layout__centercol {
    float: left;
    width: 100%;
}
.layout__centercol__wrap {
    margin-right: 324px;
}
.layout__centercol__wrap {
    margin-right: 335px;
}
.layout__centercol__wrap {
    margin-right: 324px;
}
.layout__rightcol {
    float: left;
    margin-left: -300px;
    width: 300px;
}
.layout__footer {
    bottom: 0;
    height: 29px;
    left: 0;
    min-width: 980px;
    position: absolute;
    width: 100%;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix:after {
    clear: both;
}
