@CHARSET "UTF-8";
body 
		{
			height: auto !important;
min-height: 100%;
min-width: 980px;
position: relative;
			/*margin: 0px;
			padding: 0px;
			width: 100%;*/
		}
html 
{
	margin: 0px; 
	padding: 0px;
}
.main_page
{
	margin: 0px auto; 
	padding: 0px; 
	width: 100%;
	min-width: 980px;
	position: relative;
}
.resize
 {
	margin: 0px auto; 
	width: 985px;
}
.head
{
	background: url("images/head_image.gif") repeat-x top; 
	margin: 0px auto;
	padding: 0px;
	position: relative;
	
}
.head_block
 {
	margin: 0px auto; 
	padding: 0px; 
	border: currentColor;
	width: 960px;
	position: relative;
}
.logotip
{
	margin: 0px; 
	padding: 0px;
	width: 457px;
	float: left;
}
.search
 {
	margin: 0px;
	padding: 30px 20px 0px 0px;
	width: 440px; 
	float: right;
}
.search form
 {
	padding: 5px 0px;
	float: right;
	display: block;
}
.search span 
{
	/*background: url("search_bg.gif") no-repeat left top; */
	padding: 0px 5px; 
	width: 148px; 
	height: 34px; 
	float: left; 
	display: block;
}
.search form .keywords 
{
	font: 14px/normal Arial, Helvetica, sans-serif;
	margin: 0px; 
	padding: 10px 0px; 
	border: 0px currentColor;
	width: 188px;
	height: 14px; 
	color: rgb(156, 156, 156); 
	float: left;
	font-size-adjust: none;
	font-stretch: normal;
}
.search form .button 
{
	margin: 0px;
	padding: 0px; 
	float: left;
}
.menu 
{
	margin: 0px;
	padding: 43px 0px 0px; 
	width: 400px; 
	float: right;
}
.menu ul 
{
	list-style: none; 
	margin: 0px; 
	padding: 0px;
	border: 0px currentColor;
}
.menu ul li 
{
	margin: 0px; 
	padding: 0px 1px; 
	border: 0px currentColor;
	float: left;
}
.menu ul li a 
{
	font: bold 12px/normal Arial, Helvetica, sans-serif; 
	margin: 0px; 
	padding: 13px 0px; 
	color: rgb(255, 255, 255);
	text-decoration: none; 
	float: left;
	font-size-adjust: none;
	font-stretch: normal;
}
.menu ul li a span
 {
	padding: 13px;
}
.menu ul li a:hover 
{
	background: url("images/r_menu_button.gif") no-repeat right;
}
.menu ul li a:hover span
 {
	background: url("images/l_menu_button.gif") no-repeat left;
}
.menu ul li a.active
 {
	background: url("images/r_menu_button.gif") no-repeat right;
}
.menu ul li a.active span
 {
	background: url("images/l_menu_button.gif") no-repeat left;
}
.slider
 {
	background: url("images/slider_fon.gif") repeat-x top; 
	margin: 0px auto;
	padding: 0px; 
	height: 432px;
}
.head_text 
{
	margin: 0px auto; 
	padding: 55px 0px 0px;
}
.head_text .div 
{
	background: rgb(255, 255, 255); 
	margin: 0px; 
	padding: 0px; 
	width: 958px; 
	float: right;
}
.head_text img.screen
 {
	margin: 0px; 
	padding: 0px; 
	float: left;
}
.head_text .div .left_sl 
{
	margin: 0px 10px 0px 0px; 
	padding: 0px; 
	width: 257px; 
	float: right;
}
.head_text .div .left_sl h2 
{
	font: bold 34px/normal Arial, Helvetica, sans-serif; 
	margin: 0px; 
	padding: 30px 0px 0px; 
	color: rgb(44, 44, 44); 
	font-size-adjust: none; 
	font-stretch: normal;
}
.head_text p 
{
	font: 14px/normal Arial, Helvetica, sans-serif;
	margin: 0px; 
	padding: 5px 0px 20px; 
	color: rgb(130, 130, 130);
	font-size-adjust: none; 
	font-stretch: normal;
}
.slider2 
{
	background: url("images/slider_fon.gif") repeat-x top;
	margin: 0px auto; padding: 0px; height: 160px;
}
.head_text2 {
	margin: 0px auto; 
	padding: 0px;
	width: 960px;
}
.head_text2 h2
 {
	font: bold 48px/normal Arial, Helvetica, sans-serif;
	margin: 0px; 
	padding: 32px 0px 0px; 
	text-align: center; 
	color: rgb(255, 255, 255);
	font-size-adjust: none;
	font-stretch: normal;
}
.top_menu
 {
	background: url("images/top.gif") repeat-x top rgb(232, 231, 226); 
	margin: 0px; 
	padding: 10px 0px;
}
.top_menu_resize 
{
	margin: 0px auto; 
	padding: 0px; 
	width: 960px;
}
.top_menu_resize img
 {
	margin: 0px; 
	padding: 5px; 
	float: left;
}
.top_menu_resize p
 {
	font: 11px/1.8em Arial, Helvetica, sans-serif; 
	margin: 0px; 
	padding: 5px; 
	color: rgb(95, 95, 95); 
	font-size-adjust: none;
	font-stretch: normal;
}
.top_menu_resize a
 {
	font: bold 12px/normal Arial, Helvetica, sans-serif; 
	color: rgb(115, 15, 15); 
	text-decoration: none; 
	font-size-adjust: none;
	font-stretch: normal;
}
.top_menu_resize strong 
{
	font: bold 12px/normal Arial, Helvetica, sans-serif;
	color: rgb(42, 42, 42); 
	font-size-adjust: none
	font-stretch: normal;
}
.top_menu_resize .info_block1 
{
	margin: 0px; 
	padding: 10px; 
	width: 299px;
	float: left;
}
.top_menu_resize .info_block2 
{
	margin: 0px;
	padding: 10px; 
	width: 299px; 
	border-right-color: rgb(209, 207, 197);
	border-left-color: rgb(209, 207, 197); 
	border-right-width: 1px; 
	border-left-width: 1px; 
	border-right-style: solid; 
	border-left-style: solid;
	float: left;
}
.body 
{
	background: rgb(255, 255, 255); 
	border-top-color: rgb(225, 225, 225);
	border-top-width: 1px; 
	border-top-style: solid;
}
.body_resize 
{
	margin: 0px auto; 
	padding: 0px; 
	width: 960px;
}
.body h2 
{
	font: bold 18px/normal Arial, Helvetica, sans-serif; 
	margin: 0px; 
	padding: 15px 5px; 
	color: rgb(79, 65, 48);
	border-bottom-color: rgb(222, 221, 214); 
	border-bottom-width: 1px;
	border-bottom-style: solid; 
	font-size-adjust: none; 
	font-stretch: normal;
}
.body h3 
{
	font: bold 18px/normal Arial, Helvetica, sans-serif; 
	margin: 0px;
	padding: 15px 5px; 
	color: rgb(79, 65, 48); 
	font-size-adjust: none;
	font-stretch: normal;
}
.body p 
{
	font: 12px/1.8em Arial, Helvetica, sans-serif;
	margin: 0px; 
	padding: 10px 5px; 
	color: rgb(79, 65, 48); 
	font-size-adjust: none; 
	font-stretch: normal;
}
.body p span
 {
	color: rgb(199, 133, 0);
}
.body a 
{
	color: rgb(36, 31, 31);
	text-decoration: none;
}
.body p.test 
{
	/*background: url("test.gif") no-repeat top; */
	margin: 10px auto; 
	padding: 0px 20px;
	width: 244px;
}
.body p.data 
{
	background: rgb(190, 133, 18); 
	font: bold 12px/normal Arial, Helvetica, sans-serif; 
	margin: 10px 5px; 
	padding: 3px 0px; 
	width: 100px; 
	text-align: center; 
	color: rgb(239, 239, 235);
	font-size-adjust: none; 
	font-stretch: normal;
}
.body img
 {
	margin: 5px 10px; 
	padding: 0px;
	float: left;
}
.left 
{
	margin: 0px; 
	padding: 10px 15px; 
	width: 610px;
	float: left;
}
.left .serv
 {
	margin: 5px 10px; 
	padding: 0px; 
	width: 265px; 
	float: left;
}
.about_us_info
{
	margin: 0px;
	padding: 10px 15px;
	width: 590px;
	float: left;
}
.prog_info
{
	margin: 0px;
	padding: 10px 15px;
	width: 650px;
	float: right;
}
.cont_info
{
	margin: 0px; 
	padding: 10px 15px; 
	width: 290px; 
	float: right;
}

.prog_name
{
	margin: 0px; 
	padding: 10px 15px; 
	width: 230px; 
	float: left;
}
.news_table 
{
	margin: 0px; 
	padding: 10px 15px; 
	width: 290px; 
	float: left;
}
.info_table 
{
	margin: 0px;
	padding: 10px 15px;
	width: 590px;
	float: right;
}
#contactform
 {
	margin: 0px; 
	padding: 5px 10px;
}
#contactform * {
	color: rgb(255, 0, 0);
}
#contactform ol 
{
	list-style: none; 
	margin: 0px; 
	padding: 0px;
}
#contactform li
 {
	margin: 0px; 
	padding: 0px; 
	border: currentColor;
	display: block;
}
#contactform li.buttons 
{
	margin: 5px 0px;
}
#contactform label 
{
	font: bold 12px/normal Arial, Helvetica, sans-serif;
	margin: 0px; 
	padding: 10px 0px; 
	width: 110px; 
	color: rgb(40, 40, 40);
	text-transform: capitalize;
	float: left; 
	display: block;
	font-size-adjust: none; 
	font-stretch: normal;
}
#contactform label span 
{
	color: rgb(255, 0, 0);
}
#contactform input.text 
{
	background: rgb(232, 231, 226); 
	margin: 10px 0px; 
	padding: 5px 2px; 
	border: 1px solid rgb(222, 221, 214);
	width: 440px; 
	height: 16px;
	float: left;
}
#contactform textarea
 {
	background: rgb(232, 231, 226); 
	margin: 10px 0px; 
	padding: 2px; 
	border: 1px solid rgb(222, 221, 214);
	width: 440px; 
	float: left;
}
#contactform li.buttons input
 {
	margin: 0px; 
	padding: 3px 0px 3px 110px;
	border: 0px currentColor; 
	color: rgb(255, 255, 255);
	float: left;
}
p.response 
{
	font: 11px/1.8em Georgia, "Times New Roman", Times, serif;
	width: auto; 
	text-align: center; 
	color: rgb(255, 0, 0); 
	font-size-adjust: none; 
	font-stretch: normal;
}
.footer 
{
	background: url("images/footer_fon.gif") repeat-x top; 
	margin: 0px; 
	padding: 0px; 
	height: 109px;
	width:100%;
	position:relative;
}
.footer_resize
 {
	margin: 0px auto; 
	padding: 0px; 
	width: 990px;
	/*min-width: 990px;
position: relative;
z-index: 1003;*/
}
.footer p
 {
	font: 12px/normal Arial, Helvetica, sans-serif; 
	color: rgb(190, 133, 18); 
	font-size-adjust: none; 
	font-stretch: normal;
}
.footer a
 {
	font: 12px/normal Arial, Helvetica, sans-serif; 
	margin: 0px;
	padding: 5px; 
	color: rgb(239, 239, 235);
	text-decoration: underline; 
	font-size-adjust: none; 
	font-stretch: normal;
}
.footer img 
{
	margin: 20px 5px;
	padding: 0px; 
	float: left;
}
.footer p.leftt 
{
	margin: 0px;
	padding: 20px 0px 0px; 
	width: 50%; 
	text-align: right;
	float: right;
}
.footer p.rightt 
{
	margin: 0px;
	padding: 10px 0px;
	width: 50%;
	text-align: right;
	float: right;
}
p.clr
 {
	margin: 0px; 
	padding: 0px;
	clear: both;
}
.clr 
{
	margin: 0px; 
	padding: 0px;
	clear: both;
}
li.bg 
{
	margin: 10px 0px;
	padding: 0px;
	line-height: 0; 
	clear: both; 
	border-top-color: rgb(222, 221, 214);
	border-top-width: 1px; 
	border-top-style: solid;
}
.bg 
{
	margin: 10px 0px;
	padding: 0px;
	line-height: 0;
	clear: both; 
	border-top-color: rgb(222, 221, 214);
	border-top-width: 1px;
	border-top-style: solid;
}
