<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- the application context definition for the springapp DispatcherServlet -->
	<bean name="/hello.htm" class="bus.web.HelloController" />
	<bean name="/contact_us.htm" class="bus.web.ContactUsController" />
	<bean name="/home_page.htm" class="bus.web.HomePageController" />
	<bean name="/programms.htm" class="bus.web.ProgrammsController" />
	<bean name="/service.htm" class="bus.web.ServiceController" />
	<bean name="/support.htm" class="bus.web.SupportController" />
	<bean name="/bus.htm" class="bus.web.BusController" />
</beans>