.result_numb{
                background-color : #5cb1ea;
            height : 70px;
            width : 354px;
            border-radius : 10px;
            margin-left : 6px;
            margin-top : 0px;
            margin-bottom : 10px;
            cursor : pointer;
            padding-top : 5px;
            box-shadow : inset 0 0 10px rgba(0, 0, 0, 0.6);
}

.numb{
            background-color : #3a6fb0;
            height : 38px;
            width : 38px;
            border-radius : 20px;
            box-shadow : inset 0 0 30px rgba(0, 0, 0, 0.6);
            margin-left : 5px;
            text-align : center;
            vertical-align : baseline;
            line-height : 35px;
            display : inline-block;
}

.line_height
{
      /*background: green;*/
}

.path_routes
{
      line-height: 15px;
      margin-left: 15px;
      font-family: Arial, Verdana;
      font-size: 12px;

}
.line_dots
{
      margin-top: 10px;
      padding-bottom: 1px;
background-color: #9b9b9b;
border-bottom:1px solid #F4F4F4;

      width: 340px;
}